{
  "extends": ["airbnb", "plugin:prettier/recommended", "prettier"],
  "plugins": ["babel"],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false
  },
  "env": {
    "browser": true
  },
  "rules": {
    "arrow-body-style": 0,
    "react/jsx-filename-extension": 0,
    "react/react-in-jsx-scope": "off"
  }
}
