.theme-base-custom .sidebar {
  background-color: #2574a9;
}
.theme-base-custom .content a,
.theme-base-custom .related-posts li a:hover {
  color: #2574a9;
}

.content {
  padding-top: 2rem;
}

.sidebar-about h1 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 30px;
  margin-bottom: 16px;
}

.lead {
  line-height: 1.2;
  font-size: 24px;
}

.social-container {
  margin-bottom: 15px;
}

.social-container a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-right: 8px;
  border: 2px solid #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.social-container a:nth-child(1) {
  font-size: 22px;
}

.social-container a:nth-child(2) {
  font-size: 19px;
}

.social-container a:nth-child(4) {
  font-size: 17px;
}

.social-container a:nth-child(5) {
  font-size: 18px;
}

.social-container a:last-child {
  margin-right: 0;
}

.social-container a:hover {
  background-color: #fff;
}

.social-container a:hover svg {
  color: #2574a9;
}

.company-container {
  margin-top: 20px;
  font-size: 18px;
}

.company-container p:nth-child(1) {
  margin-bottom: 0;
}

.company-info {
  font-size: 16px;
  margin-top: 30px;
}

.company-info p {
  margin: 0;
}

.cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 10px 26px;
  background-color: #064974;
  color: #b7cfdf;
}

.cookie-banner p {
  font-size: 14px;
  margin: 0;
  padding-right: 4px;
}

.cookie-banner .cookie-banner-button-container {
  display: flex;
  min-width: 140px;
  justify-content: space-between;
}

.cookie-banner button {
  border: none;
  border-radius: 6px;
  padding: 8px;
  cursor: pointer;
  font-size: 16px;
}

.cookie-banner button.cookie-banner-accept {
  background-color: #b7cfdf;
  color: #012841;
}

.cookie-banner button.cookie-banner-reject {
  background-color: #2e76a5;
  color: #d2eafa;
}

@media (min-width: 48em) {
  .sidebar-sticky {
    top: 1rem;
    bottom: 0;
  }
}
